# Forzar el uso del motor de reescritura de Apache
RewriteEngine On
RewriteBase /

# Si el recurso solicitado no es un archivo físico existente
RewriteCond %{REQUEST_FILENAME} !-f

# Y tampoco es un directorio físico existente
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir absolutamente todo al index.html de React
RewriteRule ^ index.html [L]